    <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                        class="mr-2 w-6 h-6 rounded-full"
                        src="{{user.picture}}"
                        alt="Michael Gough">{{user.name}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400">{{comment_time}}</p>
            </div>
            <div class="comment-buttons" data-comment-id="{{comment.id}}" data-user-id="{{comment.user_id}}"/>
        </footer>
        <div class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:justify-between md:p-6 xl:p-8 dark:bg-gray-800 text-gray-700 dark:text-gray-200 markdown-body" >{{{comment.value}}}</div>
    </article>