<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


<script>

let href = window.location.href;

function composeSection(section){
  let topicEles = section.topics.map(topic => {
    if (!href.endsWith(topic.md)) {
      return '<li><a href="' + topic.md + '">' + topic.title + '</a></li>';
    } else {
      return '<li>' + topic.title + '</li>';
    }
  });
  let secEle = null;
  if (!href.endsWith(section.md)) {
    secEle = '<div class="section"><h4><a href="' + section.md + '">' + section.title + '</a></h4><ul>' + topicEles.join('') + '</ul></div>';
  } else {
    secEle = '<div class="section"><h4>' + section.title + '</h4><ul>' + topicEles.join('') + '</ul></div>';
  }
  return secEle;
  
}


$(function() {
  $.getJSON('/docs/side_bar.json', (data, status) => {
    
    let title = data.title;
    let sections = data.sections;
    let sectionEles = sections.map(s => {
      return composeSection(s);
    });
    let html = '<div class="sections"><h2>' + title +'</h2>' + sectionEles.join('') + '</div>';
    $('#sidebar').html(html);
  });
});

</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/docs/github-markdown.css">
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>

    




  </head>
  <body>
    <div id="outer-container">
      <div id="sidebar"></div>
      <div id="content" class="markdown-body">
        {{{content}}}
      </div>
    </div>
     
  </body>
 
</html>
