<!doctype html>
<html lang="en" class="dark">

<head>
    <meta charset="utf-8">
	
{{#metas}}
	{{#title}}
	  <title>{{title}}</title>
	  <meta name="og:title" content="{{title}}">
	  <meta name="twitter:title" content="{{title}}">
	{{/title}}

	{{#description}}
	  <meta name="description" content="{{description}}">
	  <meta name="og:description" content="{{description}}">
	  <meta name="twitter:description" content="{{description}}">
	{{/description}}
	

	{{#video}}
	  <meta name="twitter:card" content="player">
	  {{#youtubeID}}
	    <meta name="twitter:image" content="https://img.youtube.com/vi/{{{youtubeID}}}/0.jpg">
	    <meta name="twitter:player" content="https://www.youtube.com/embed/{{{youtubeID}}}">
		<meta name="twitter:player:width" content="360" />
        <meta name="twitter:player:height" content="200" />
      {{/youtubeID}}
	{{/video}}
	{{^video}}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
      {{#alt}}
	  	<meta name="twitter:image.alt" content="https://{{{HOST_NAME}}}{{image.alt}}">
	  {{/alt}}
	{{/video}}

	

	{{#twitter_player_width}}
	  <meta property="twitter.player.width" content="{{twitter_player_width}}" />
	{{/twitter_player_width}}
	{{#twitter_player_height}}
	  <meta property="twitter.player.height" content="{{twitter_player_height}}" />
	{{/twitter_player_height}}

	{{#__PROJECT__.name}}
	  <meta property="twitter:site" content="{{__PROJECT__.name}}" />
	{{/__PROJECT__.name}}


	{{#og_type}}
	  <meta name="og:type" content="{{og_type}}" />
	{{/og_type}}
	
	{{^og_type}}
	  <meta name="og:type" content="article" />
	{{/og_type}}

	<meta name="og:url" content="https://{{{HOST_NAME}}}{{{DOC_PATH}}}">
	
	{{#image}}
	  <meta name="og:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
	{{/image}}

	
	
{{/metas}}

   
   

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

	<link rel="stylesheet" href="/public/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180"
        href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="h/public/images/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/public/images/favicon.ico">
    <link rel="manifest" href="/public/images/site.webmanifest">
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/public/js/dark-theme.js"></script>
	<script src="/public/js/user-panel.js"></script>
	<script src="/public/js/comment-input.js"></script>
	<script src="/public/js/comments.js"></script>


	<link rel="stylesheet" href="/public/css/github-markdown.css">



<style>
	
	pre {
		tab-size: 4;
		counter-reset: linecounter;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}
	pre span.line {
		counter-increment: linecounter;
		line-height: 16px;
	}
	pre span.line::before {
		content: counter(linecounter);
		width: 30px;
		display: inline-block;
		border-right: 1px dotted #ccc;
		padding-right: 3px;
		margin-right: 5px;
		text-align: left;
		font-size: 11px;
		line-height: 16px;
	}
</style>

<script type="text/javascript">
//for global variables
{{#meta_list}}
	var _meta_{{name}} = "{{value}}";
{{/meta_list}}

	var _DOC_PATH = "{{{DOC_PATH}}}";

</script>

<script type="text/javascript">
	function addLineClass (pre) {
		var lines = pre.innerText.trim().split("\n"); // can use innerHTML also
		while(pre.childNodes.length > 0) {
			pre.removeChild(pre.childNodes[0]);
		}
		for(var i = 0; i < lines.length; i++) {
			var span = document.createElement("span");
			span.className = "line";
			span.innerText = lines[i]; // can use innerHTML also
			pre.appendChild(span);
			pre.appendChild(document.createTextNode("\n"));
			
			
		}
	}
	window.addEventListener("load", function () {
		var pres = document.querySelectorAll("pre > code ");
		for (var i = 0; i < pres.length; i++) {
			addLineClass(pres[i]);
		}
	}, false);
</script>


</head>

<body class="bg-gray-50 dark:bg-gray-800">
	{{{header}}}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        {{{side_bar_html}}}

        <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">


			<main>

                <div class="px-4 pt-6 markdown-body">
                    {{{content}}}
                </div>
				<div id="comment-input"></div>
				<div id="comments">
				{{#comments_html}}
					{{{comments_html}}}
				{{/comments_html}}
				</div>
            </main>


			{{{footer}}}
			
        </div>
		

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>