<div id='section_{{i}}'>
    <button class='btn text-bg-primary' data-bs-toggle="collapse" role="button" aria-expanded="false" data-bs-target="#sec_{{i}}" aria-controls="sec_{{i}}">{{title}}</button>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none" class="collapse" id="sec_{{i}}">
    {{#topics}}
    <li class="nav-item">
        <a class="nav-link {{#active}}active{{/active}}" href="{{md}}">{{title}}</a>
    </li>
    {{/topics}}
    </ul>
</div>
